.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;

  background-color: var(--color-dark-background2);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

.forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 10rem;
}

.userNameInput {
  font-size: 14px;
  line-height: 20px;
  color: var(--color-primary-text);

  padding: 5px 12px;
  background-color: var(--color-dark-background2);
  border: 1px solid var(--color-grey-line);
  border-radius: 6px;
  transition-property: color, background-color, box-shadow, border-color;
}

.btn {
  font-weight: 500;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  line-height: 20px;
  color: var(--color-white);

  padding: 5px 16px;
  cursor: pointer;
  border: 1px solid var(--color-grey-border-btn);
  border-radius: 6px;
  background-color: var(--color-orange-btn);

  &:hover {
    background-color: var(--color-orange-hover-btn);
    border-color: var(--color-grey-border-btn);
    transition-duration: 0.1s;
  }
}
